html {
    background-color: hsl(188, 18%, 88%);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

footer {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    height: 1.5rem;
    text-align: center;
    margin-top: 0;
}

footer h4 {
    color: #fff;
    
    font-size: .75rem;
    padding-top: .2rem;
}