html {
    background-color: hsl(188, 18%, 88%);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 1.5rem;
}