html {
    font-size: 18px;
}

.App {
    font-family: Helvetica, Arial, sans-serif;
}

.App h1 {
    font-style: normal;
    font-family: "Pacifico", cursive;
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    margin-top: 0;
    margin-bottom: 0;
    padding: .5rem;
}

@media only screen and (max-width: 400px) {
    .App h1 {
        padding-right: 10%;
        padding-left: 10%;
    }
}

.Hidden {
    display: none;
}