.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 12rem;
    background-image: url('https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?cs=srgb&dl=pexels-lukas-616401.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.SearchBarSortOptions {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.SearchBarSortOptions button {
    margin: 0 .75rem;
    width: 7rem;
    height: 1.5rem;
}

.SearchBarFields {
    display: flex;
    justify-content: center;
}

.SearchBarFields input {
    width: 20rem;
    padding: 0.5rem 1rem;
    margin-right: 2.22rem;
    margin-bottom: 2rem; 
    border-radius: 4px;
    font-size: 0.77rem;
    font-weight: 500;
}

.SearchBarSubmit {
    text-align: center;
}

.SearchBarSubmit input {
    border-radius: 4px;
    padding: 0.72rem 1.7rem;
    font-weight: 600;
}