.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-height: 16rem;
    background-image: url('https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?cs=srgb&dl=pexels-lukas-616401.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*SearchBar Sort Options*/
.SearchBarSortOptions {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.SearchBarSortOptions button {
    margin: 0 1rem;
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.SearchBarSortOptions button.active {
    background-color: red;
}

.SearchBarSortOptions button:hover {
  background-color: hsl(204, 31%, 86%);
  border: 1px solid black;
}

.SearchBarSortOptions button:focus {
  border: 1px solid black;
  outline-offset: 2px;
}

.SearchBarSortOptions button:focus-visible {
  box-shadow: none;
}

/*SearchBar Text Fields*/
.SearchBarFields {
    display: flex;
    justify-content: center;
}

.SearchBarFields input {
    width: 20rem;
    padding: 0.5rem 1rem;
    margin-right: 2.22rem;
    margin-bottom: 2rem; 
    border-radius: 4px;
    font-size: 0.77rem;
    font-weight: 500;
}

/*SearchBar Submit button*/
.SearchBarSubmit {
    text-align: center;
    margin-bottom: 2rem;
}

.SearchBarSubmit input {
    background-color: #cf245f;
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    border: 0;
    border-radius: .25rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1rem;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    max-height: 3rem;
}

.SearchBarSubmit input:hover {
    box-shadow: none;
    border: .1rem solid #fff;
  }

