Footer {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    text-align: center;
    margin: 0 auto;

}

Footer h4 {
    color: #fff;
    font-size: .75rem;
    margin-top: .4rem;
}